.page {
  background-color: #2A2C2F;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  color: #FFFFFF;
  font-family: Inter, Arial, sans-serif;
}





.header {
  display: flex;
  min-height: 52px;
  align-items: center;
  justify-content: space-between;
  margin: 28px 48px 56px;
}

@media screen and (max-width:1279px) {
  .header {
    margin-bottom: 48px;
  }
}

@media screen and (max-width:1023px) {
  .header {
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 122px;
  }
}

@media screen and (max-width:767px) {
  .header {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 48px;
  }
}







.header__logo {
  width: 176px;
  height: 52px;
}

@media screen and (max-width:767px) {
  .header__logo {
    width: 142px;
    height: 42px;
  }
}






.header__lang-links {
  list-style-type: none;
}

.header__lang-link {
  font-family: Inter;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  margin-left: auto;
  margin-right: 18px;
  display: inline;
  text-decoration: none;
  color: #FFFFFF;
}

.header__lang-link:last-child {
  margin-right: 0;
}

.header__lang-link_selected {
  text-decoration: underline;
}

@media screen and (max-width:767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}












.lead {
  width: 984px;
  margin: 0 auto;
  margin-bottom: 92px;
}

@media screen and (max-width:1279px) {
  .lead {
   width: 928px;
  }
}

@media screen and (max-width:1023px) {
  .lead {
    width: 100%;
    margin-bottom: 14px;
  }
}

@media screen and (max-width:767px) {
  .lead {
    width: 100%;
    margin-bottom: 64px;
   }
}



.lead__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 104%;
  text-align: center;
  text-rendering: optimizeLegibility;
  max-width: 720px;
  max-height: 200px;
  margin: 0 auto;
  margin-bottom: 32px;
}

@media screen and (max-width:767px) {
  .lead__title {
    font-size: 40px;
    line-height: 110%;
    max-width: 288px;
    max-height: 88px;
    margin-bottom: 16px;
  }
}

.lead__subtitle {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  text-align: center;
  text-rendering: optimizeLegibility;
  max-width: 640px;
  max-height: 72px;
  margin: 0 auto;
  margin-bottom: 64px;
}


@media screen and (max-width:1279px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width:1023px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width:767px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 125%;
    max-width: 288px;
    max-height: 40px;
    margin-bottom: 40px;
  }
}

.lead__image {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 8px;
}

.lead__caption {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 140%;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  margin: 0px;
}

@media screen and (max-width:1023px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and (max-width:767px) {
  .lead__caption {
    margin-left: 16px;
  }
}








.info {
  max-width: 984px;
  margin: 0 auto;
}

@media screen and (max-width:1279px) {
  .info {
    max-width: 928px;
  }
}

@media screen and (max-width:1023px) {
  .info {
    max-width: 100%;
  }
}

@media screen and (max-width:767px) {
  .info {
    max-width:100%;
  }
}

.intro {
  max-width: 690px;
  margin-left: 0px;
  margin-bottom: 92px;
}


@media screen and (max-width:1279px) {
  .intro {
    margin-left: 0px;
    max-width: 690px;
  }
}

@media screen and (max-width:1023px) {
  .intro {
    max-width: 720px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width:767px) {
  .intro {
    max-width:288px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 64px;
  }
}




.intro__title {
font-family: Inter;
font-style: normal;
font-weight: 900;
font-size: 54px;
line-height: 107%;
color: #FFFFFF;
text-rendering: optimizeLegibility;
margin-top: 0px;
margin-bottom: 40px;
}

@media screen and (max-width:767px) {
  .intro__title {
    font-size: 32px;
    line-height: 109%;
    margin-bottom: 40px;
  }
}


.intro__text {
font-family: Inter;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 163%;
color: #FFFFFF;
text-rendering: optimizeLegibility;
margin-top: 0px;
margin-bottom: 33px;
}

@media screen and (max-width:767px) {
  .intro__text {
    font-size: 16px;
    line-height: 163%;
    margin-bottom: 34px;
  }
}

.intro__list {
font-family: Inter;
font-weight: 400;
font-style: normal;
font-size: 12px;
line-height: 150%;
color: #FFFFFF;
text-rendering: optimizeLegibility;
list-style-type: none;
padding-inline-start: 0px;
margin: 0px;
margin-bottom: 92px;
}


@media screen and (max-width:1023px) {
  .intro__list {
    margin-bottom: 88px;
  }
}

@media screen and (max-width:767px) {
  .intro__list {
    margin-bottom: 64px;
  }
}






.photo-grid {
  padding-left: 48px;
  padding-right: 48px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 14px 14px;
  margin-bottom: 92px;
}

@media screen and (max-width:1279px) {
  .photo-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 14px 14px;
  }
}

@media screen and (max-width:1023px) {
  .photo-grid {
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 88px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 16px 16px;
  }
}

@media screen and (max-width:767px) {
  .photo-grid {
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 64px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
    gap: 12px;
  }
}

.photo-grid__item {
  width: 100%;
  margin: 0 auto;
}





.places {
  max-width: 984px;
  margin: 0 auto;
}

@media screen and (max-width:1279px) {
  .places {
    max-width: 928px;
  }
}

@media screen and (max-width:1023px) {
  .places {
    max-width: 720px;
  }
}

@media screen and (max-width:767px) {
  .places {
    width: 320px;
  }
}



.place {
  /*width: 984px;*/
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.place:last-child {
  margin-bottom: 92px;
}

@media screen and (max-width:1023px) {
  .place {
    /*width: 928px;*/
    margin-bottom: 72px;
  }
}

@media screen and (max-width:1023px) {
  .place:last-child {
    margin-bottom: 90px;
  }
}

@media screen and (max-width:767px) {
  .place {
    margin-bottom: 50px;
    grid-template-columns: repeat(auto-fill, 320px);
  }
}

@media screen and (max-width:767px) {
  .place:last-child {
    margin-bottom: 64px;
  }
}


.place__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  text-rendering: optimizeLegibility;
  margin-bottom: 48px;
  margin-top: 0px;
  width: 460px;
}

@media screen and (max-width:1279px) {
  .place__title {
    width: 440px;
  }
}

@media screen and (max-width:1023px) {
  .place__title {
    font-size: 42px;
    line-height: 110%;
    width: 340px;
  }
}

@media screen and (max-width:767px) {
  .place__title {
    font-size: 32px;
    line-height: 109%;
    width: 288px;
    margin-left: 16px;
    margin-bottom: 32px;
  }
}

.place__image {
  width: 460px;
  height: 460px;
  margin-right: 40px;
}

@media screen and (max-width:1279px) {
  .place__image {
    width: 440px;
    height: 440px;
    margin-right: 32px;
  }
}

@media screen and (max-width:1023px) {
  .place__image {
    width: 340px;
    height: 340px;
    margin-right: 28px;
  }
}

@media screen and (max-width:767px) {
  .place__image {
    width: 320px;
    height: 320px;
    margin-bottom: 32px;
    margin-right: 0px;
  }
}



@media screen and (max-width:1023px) {
  .place__info {
    max-width: 352px;
    margin-right: 24px;
  }
}

@media screen and (max-width:767px) {
  .place__info {
    max-width: 288px;
    margin-left: 16px;
  }
}

.place__paragraph {
font-family: Inter;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 163%;
text-rendering: optimizeLegibility;
margin-bottom: 26px;
max-width: 484px;
}

.place__paragraph:last-child {
  margin-top: 0px;
  margin-bottom: 0px;
}

.place__paragraph:first-child {
  margin-top: 0px;
}

@media screen and (max-width:1023px) {
  .place__paragraph {
    margin-bottom: 27px;
    width: 456px;
  }

  .place__paragraph:last-child {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  .place__paragraph:first-child {
    margin-top: 0px;
  }

}

@media screen and (max-width:1023px) {
  .place__paragraph {
    font-size: 16px;
    max-width: 352px;
    margin-bottom: 25px;
  }

  .place__paragraph:last-child {
    margin-bottom: 0px;
  }
  
  .place__paragraph:first-child {
    margin-top: 0px;
  }
}

@media screen and (max-width:767px) {
  .place__paragraph {
    font-size: 16px;
    max-width: 288px;
  }
}


.place__website_url-heading {
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 100%;
letter-spacing: 2px;
color: #AAAAAA;
text-rendering: optimizeLegibility;
margin-bottom: 12px;
margin-top: 0px;
}

.place__website {
  margin: 0px;
  position: relative;
}

@media screen and (max-width:1023px) {
  .place__website {
    max-width: 352px;
  }
}

@media screen and (max-width:767px) {
  .place__website {
    max-width: 288px;
    max-height: 46px;
    margin-bottom: 32px;
    margin-left: 16px
  }
}

.place__website_link {
font-family: Inter;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
text-decoration-line: underline;
color: #FFFFFF;
text-rendering: optimizeLegibility;
margin-bottom: 48px;
opacity: 1;
transition: 1s;
max-width: 456px;
display: block;
}

.place__website_link:hover {
  opacity: 0.8;
}

.place__website_links {
  position: absolute;
  bottom: 0px;
}

@media screen and (max-width:767px) {
  .place__website_links {
    position: static;
  }
}

























.cover {
  margin: 0 auto;
}

.cover__bacground {
  background: url(sprint-3-images/cover-trains.jpg) no-repeat;
  background-size: cover;
  max-width: 1184px;
  height: 720px;
  box-sizing: border-box;
  margin-bottom: 92px;
  margin-left: 48px;
  margin-right: 48px;
  position: relative;
}

@media screen and (max-width:1279px) {
  .cover__bacground {
    width: 1024px;
    height: 640px;
    margin: 0px;
  }
}

/*@media screen and (max-width:1023px) {
  .cover__bacground {
    width: 768px;
    height: 480px;
    margin-left: 48px;
  margin-right: 48px;
  margin-bottom: 92px;
  }
}

@media screen and (max-width:767px) {
  .cover__bacground {
    width: 320px;
    height: 200px;
    margin-left: 0px;
    margin-right: 0px;
  }
}*/

.cover__bacground::before {
  content:"";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #2A2C2F;
  opacity: 30%;
  transition: 1s;
}

.cover__bacground:hover::before {
  opacity: 0.8;
}


.cover__title {
font-family: Inter;
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 106%;
text-align: center;
color: #FFFFFF;
text-rendering: optimizeLegibility;
width: 560px;
position: absolute;
margin-top: 245px;
margin-left: 312px;
}

@media screen and (max-width:1279px) {
  .cover__title {
    width: 560px;
    margin-top: 195px;
    margin-left: 232px;
  }
}

/*@media screen and (max-width:1023px) {
  .cover__title {
    width: 560px;
    margin-top: 104px;
    margin-left: 115px;
  }
}

@media screen and (max-width:767px) {
  .cover__title {
    font-size: 32px;
    line-height: 109%;
    width: 288px;
    margin-top: 33px;
    margin-left: 16px;
  }
}*/


.cover__subtitle {
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 122%;
text-align: center;
color: #FFFFFF;
text-rendering: optimizeLegibility;
width: 360px;
position: absolute;
margin-top: 412px;
margin-left: 429px;
}

@media screen and (max-width:1279px) {
  .cover__subtitle {
    width: 360px;
    margin-top: 379px;
    margin-left: 332px;
  }
}

/*@media screen and (max-width:1023px) {
  .cover__subtitle {
    width: 360px;
    margin-top: 299px;
    margin-left: 204px;
  }
}

@media screen and (max-width:767px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 114%;
    width: 288px;
    margin-top: 119px;
    margin-left: 16px;
  }
}*/





.footer {
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  margin-left: 48px;
  margin-right: 48px;
  margin-bottom: 24px;
}

@media screen and (max-width:1023px) {
  .footer {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width:767px) {
  .footer {
    display: block;
    margin-left: 16px;
  }
}


.footer__pages {
  list-style-type: none;
  display: flex;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-left: 0px;
}

@media screen and (max-width:767px) {
   .footer__pages {
    display: block;
  }
}

.footer__page {
  display: inline;
  margin-right: 18px;
}

.footer__page:last-child {
  margin-right: 0px;
}

@media screen and (max-width:767px) {
  .footer__page {
    margin-bottom: 32px;
    margin-right: 0px;
    display: block;
  }
  
  .footer__page:last-child {
    margin-bottom: 48px;
  }
}

.footer__page-link {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  color: #FFFFFF;
  text-decoration: none;
  opacity: 1;
  transition: 1s;
}

@media screen and (max-width:767px) {
  .footer__page-link {
    font-size: 24px;
    line-height: 100%;
    margin-bottom: 32px;
  }
}

.footer__page-link:hover {
  opacity: 0.8;
}

.footer__copyright {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  text-align: right;
  color: #FFFFFF;
  margin-top: 0px;
  margin-bottom: 0px;
}

@media screen and (max-width:767px) {
  .footer__copyright {
    line-height: 100%;
    text-align: left;
  }
}