@media screen and (max-width:1023px) {
  .place__info {
    max-width: 352px;
    margin-right: 24px;
  }
}

@media screen and (max-width:767px) {
  .place__info {
    max-width: 288px;
    margin-left: 16px;
  }
}